<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Lab5-Calculator</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>products</servlet-name>
    <servlet-class>edu.mum.servlet.ProductServlet</servlet-class>
   </servlet>
    
   <servlet>
     <servlet-name>listproducts</servlet-name>
    <servlet-class>edu.mum.servlet.ListProductsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/product</url-pattern>
   </servlet-mapping>
      
  <servlet-mapping>
    <servlet-name>listproducts</servlet-name>
    <url-pattern>/listproducts</url-pattern>
  </servlet-mapping>
</web-app>